@import 'normalize.scss';
@import 'var.scss';

@font-face {
   font-style: normal;
   font-family: Lato;
   font-weight: normal;
   src: url('../../dest/fonts/Lato-Regular.woff') format('woff'), url('../../dest/fonts/Lato-Regular.woff2') format('woff2');
}
@font-face {
   font-style: normal;
   font-family: Lato;
   font-weight: bold;
   src: url('../../dest/fonts/Lato-Bold.woff') format('woff'), url('../../dest/fonts/Lato-Bold.woff2') format('woff2');
}
@font-face {
   font-style: italic;
   font-family: Lato;
   font-weight: normal;
   src: url('../../dest/fonts/Lato-Italic.woff') format('woff'), url('../../dest/fonts/Lato-Italic.woff2') format('woff2');
}
@font-face {
   font-style: normal;
   font-family: Montserrat;
   font-weight: normal;
   src: url('../../dest/fonts/Montserrat-Regular.woff') format('woff'), url('../../dest/fonts/Lato-Regular.woff2') format('woff2');
}
@font-face {
   font-style: normal;
   font-family: Montserrat;
   font-weight: bold;
   src: url('../../dest/fonts/Montserrat-Bold.woff') format('woff'), url('../../dest/fonts/Lato-Bold.woff2') format('woff2');
}
@font-face {
   font-style: italic;
   font-family: Montserrat;
   font-weight: normal;
   src: url('../../dest/fonts/Montserrat-Italic.woff') format('woff'), url('../../dest/fonts/Lato-Italic.woff2') format('woff2');
}
.wrapper{
   margin: 0 auto;
}
.accardion{
   margin-bottom: 10px;
}
.accardion__title{
   border: 1px solid black;
}
.accardion__content {
   border: 1px solid black;
   border-top: none;
   height: 100px;
   display: none;
   background-color: #ccc;
   padding: 15px;
}

