@import 'normalize.scss';
@import 'var.scss';
@import 'fonts.scss'


.wrapper{
   margin: 0 auto;
}
.accardion{
   margin-bottom: 10px;
}
.accardion__title{
   border: 1px solid black;
}
.accardion__content {
   border: 1px solid black;
   border-top: none;
   height: 100px;
   display: none;
   background-color: #ccc;
   padding: 15px;
}

