@import 'normalize.scss';
@import 'var.scss';
@import 'fonts.scss';


.visually-hidden:not(:active):not(:focus){
   position: absolute;

   width: 1px;
   height: 1px;
   margin: -1px;
   bottom: 0;
   padding: 0;

   white-space: nowrap;

   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}
body {
   font-family: Lato;
   font-size: 16px;
}
.container {
   width: 1180px;
   margin: 0 auto;
}

@import 'blocks/header.scss';
