.nav {
   display: flex;
   justify-content: center;

   &__link {
      line-height: 20px;
      font-weight: 700;
      font-size: 14px;
      text-transform: uppercase;
      transition: linear .2s;
      & a {
         color: #464646;
      }
      &--active, 
      &:hover {
         & a {
            color: #fe50a6;
         }
      }
   }
   @media (max-width: $screen-xs-max) {
      flex-direction: column;
      &__link {
         margin-bottom: 10px;
      }
   }
   @media (min-width: $screen-sm) {
      margin-bottom: 30px;
      &__link {
         & + .nav__link {
            margin-left: 60px;
         }
      }
   }
}